.playground, 
.torso,
.legs {
    display: flex;
    flex-direction: row;
}

#canvas {
   
    margin-top: 10%;
    
}

#canvas1 {
    position: absolute;
    margin-top: 10%;
}

#canvas2 {
    position: absolute;
    margin-top: 14%;
    margin-left: 750px;
}

#canvas3 {
    position: absolute;
    margin-top: 14%;
    margin-left: 1100px;
}

#canvas4 {
    margin-left: 600px;
    margin-top: 20%;
    position: absolute;
}

#canvas5 {
    margin-left: 55%;
    
    position: absolute;
}

#canvas6 {
    margin-left: 25%;
    
    position: fixed;
}


#left-arm {
    position: absolute;
    
    margin-top: 200px;
}

#right-arm {
    position: absolute;
    margin-left:0%;
    margin-top: 14%;
}

#body {
    position: absolute;
    margin-left:400px;
    margin-top: 14%;
}

#head {
    position: absolute;
    margin-left:450px;
    margin-top: 1%;
}

#leg-left {
    position: absolute;
    margin-left:400px;
    margin-top: 32%;
}

#leg-right {
    position: absolute;
    margin-left:540px;
    margin-top: 32%;
}

#win_message {
    position: absolute;
    margin-left: 30%;
    margin-top: 12%;
    display: none;
}